<div class="main-home">
  <header>
    <nav>
      <div class="logo-container">
        <p class="logo">TUMSIFU</p>
      </div>
      <ul class="nav-links">
        <li> <%= link_to 'Enseignants', enseigants_path, class: "link"%></li>
        <li class="link">Section & Eleves</li>
        <li class="link">A propos de nous</li>
      </ul>
      <div class="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
      </div>
    </nav>
  </header>
  <Section>
    <div class="main-page">
      <h1>Naviguez </h1>
    </div>
    <div class="side_search">
      <h1>Cherche ici</h1>
    </div>
  </section>
</div>